body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background: #f4f6fb;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: white;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

.logo {
    font-weight: 900;
    font-size: 22px;
    letter-spacing: 3px;
    color: #4f46e5;
}

.nav-links a {
    margin-left: 25px;
    text-decoration: none;
    color: #4f46e5;
    font-weight: 500;
}

/* AUTH */
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.auth-card {
    width: 400px;
    padding: 40px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.08);
    text-align: center;
}

.auth-card input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

button {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: #4f46e5;
    color: white;
    font-weight: bold;
}

.secondary-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #4f46e5;
    color: #4f46e5;
    text-decoration: none;
}

/* DASHBOARD */
.container {
    width: 600px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.05);
}

.result {
    margin-top: 20px;
    padding: 20px;
    background: #eef2ff;
    border-radius: 10px;
}

/* DASHBOARD */

.dashboard-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.dashboard-card {
    width: 650px;
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.05);
}

.dashboard-card h2 {
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.risk-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 8px;
    font-weight: 500;
}

.form-group input,
.form-group select {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.analyze-btn {
    margin-top: 20px;
    padding: 14px;
    border-radius: 12px;
    background: #4f46e5;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.analyze-btn:hover {
    background: #4338ca;
}

.result-card {
    margin-top: 30px;
    padding: 25px;
    background: #eef2ff;
    border-radius: 15px;
    text-align: center;
}

.score {
    font-size: 40px;
    font-weight: 900;
    color: #4f46e5;
}

.result-box {
    margin-top: 30px;
    padding: 20px;
    border-radius: 12px;
    background: #f3f4f6;
    text-align: center;
}

.result-box h2 {
    margin-bottom: 10px;
}

.result-box h3 {
    font-weight: bold;
}
