{% extends "base.html" %}
{% block content %}

<div class="auth-container">
    <div class="auth-card">
        <h2>LOGIN</h2>

        <form method="POST" action="{{ url_for('login') }}">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>

        <div class="auth-footer">
            <p>Don't have an account?</p>
            <a href="{{ url_for('register') }}" class="secondary-btn">Create Account</a>
        </div>
    </div>
</div>

{% endblock %}
